html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
  }
  
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }
  
  body { line-height: 1 }
  
  ol, ul { list-style: none }
  
  blockquote, q { quotes: none }
  
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0
  }
  
  h1 {
    font-weight: bold;
    font-size: 120%;
    text-align: center;
  }

  h5 {
      text-align: right;
  }

  h4 {
      font-weight: bold;
      text-align: right;
  }

  body {
    font: 100% "roboto", "Trebuchet MS", sans-serif;
    background-color:rgb(255, 255, 255);
  }
  
  a { text-decoration: none; }
  
  /**
   * Hidden fallback
   */
  
  
  /**
   * Styling navigation
   */
  
  header {
    margin-right: auto;
    margin-left: auto;
    max-width: 22.5rem;
    margin-top:20px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.25);
  }
  
  /**
   * Styling top level items
   */
  
  .nav a, .nav label {
    display: block;
   padding: .85rem;
    color: rgb(0, 0, 0);
    background-color: #32e0ff;
    box-shadow: inset 0 -1px #15a2ff;
    -webkit-transition: all .25s ease-in;
    transition: all .25s ease-in;
  }
  
  .nav a:focus, .nav a:hover, .nav label:focus, .nav label:hover {
    color: rgba(255, 255, 255, 0.5);
    background: #157ef6;
  }
  
  .nav label { cursor: pointer; }
  
  /**
   * Styling first level lists items
   */
  
  .group-list a, .group-list label {
    padding-left: 1.7rem;
    background: #252525;
    box-shadow: inset 0 -1px #373737;
  }
  
  .group-list a:focus, .group-list a:hover, .group-list label:focus, .group-list label:hover { background: #131313; }
  
  /**
   * Styling second level list items
   */
  
  .sub-group-list a, .sub-group-list label {
    padding-left: 2.2rem;
    background: #0a42b9;
    box-shadow: inset 0 -1px #1b0fc0;
  }
  
  .sub-group-list a:focus, .sub-group-list a:hover, .sub-group-list label:focus, .sub-group-list label:hover { background: #232323; }
  
  /**
   * Styling third level list items
   */
  
  .sub-sub-group-list a, .sub-sub-group-list label {
    padding-left: 6rem;
    background: #0a42b9;
    box-shadow: inset 0 -1px #1b0fc0;
  }
  
  .sub-sub-group-list a:focus, .sub-sub-group-list a:hover, .sub-sub-group-list label:focus, .sub-sub-group-list label:hover { background: #333333; }
  
  /**
   * Hide nested lists
   */
  
  .group-list, .sub-group-list, .sub-sub-group-list {
    height: 100%;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .5s ease-in-out;
    transition: max-height .5s ease-in-out;
  }
  
  .nav__list input[type=checkbox]:checked + label + ul { /* reset the height when checkbox is checked */
  max-height: 10000px; }
  
  /**
   * Rotating chevron icon
   */
  
  label > span {
    float: right;
    -webkit-transition: -webkit-transform .65s ease;
    transition: transform .65s ease;
  }
  
  .nav__list input[type=checkbox]:checked + label > span {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  ba {
    font-weight: bold;
    font-size: 110%;
  }

  #main_logo {
    padding-top: 1.2rem;
    max-width: 95%;
    height: auto;
    width: auto\9; /* ie8 */
    padding-left: 0.6rem;
  }

  #desc1 {
    text-align: center;
  }

  #desc2 {
    text-align: center;
  }
